@import 'var';
.header{
    position: relative;
    height: 800px;
    background:linear-gradient(240deg, #2370C8,#122E99);
    &__top-line{
        z-index: 2;
        position: relative;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu{
            display: flex;
            &__item{
                
                .link {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $white;
                        font-size: 16px;
                        font-weight: 400;
                        padding: 0 10px;
                    }
            }
    
        }
        .logo {
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
                color: $white;
            }
        .search{
                position: relative;
                border-radius: 30px;
                height: 50px;
                background: $white;
                line-height: 50px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            input{
                border: none;
                width: 70%;
                margin-right: 5px;
                &::placeholder{
                    color: #2370C8;
                }
            }
            .submit{
                background: url(/img/search-glass.svg);
                width: 21px;
                height: 21px;
                display: block;
                position: relative;
                
            }
        }
    }
    .slogan{
        z-index: 2;
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        &__inner{
            .title{
                font-size: 72px;
                font-weight: 500;
                line-height: 85px;
                color: $white;
            }
            .text{
                    padding: 30px 0;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 27px;
                    color: $gray;
            }
        }
       
    }
    .bg-shureshki{
        background: url(/img/shureshki.png);
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
}